@inject CitiesWebsite.Services.ICityFormatter cityFormatter;
@using CitiesWebsite.Models;
@{ 
    CityPopulation population = ViewBag.City.Population;
}
<h3>City Population (@population.Year)</h3>
<p>City: @cityFormatter.GetFormattedPopulation(population.Year);</p>
<p>Urban: @cityFormatter.GetFormattedPopulation(population.Urban);</p>
<p>Metro: @cityFormatter.GetFormattedPopulation(population.Metro);</p>